<div class="card card-default">
    <div class="card-header">
        Dados do Aluno
    </div>
    <div class="card-body ">
        <h5 class="card-title">Alunos</h5>
        <hr>
        <ul class="estudantes">
            <li *ngFor="let estudante of estudantes" routerLink="/detail/{{estudante.ra}}">
                <span class="label"><b>RA:</b> {{estudante.ra}} <b>NOME:</b> {{estudante.name}} <b>TELEFONE:</b> {{estudante.telephone}} <b>TURMA:</b> {{estudante.class}} <b>NOME DA MÃE:</b> {{estudante.motherName}}</span>
            </li>
        </ul>
    </div>
</div>