<div *ngIf="selectedEstudante" class="card card-default">
    <div class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
          </svg> Cadastro de Aluno
    </div>
    <div class="card-body ">
        <h5 class="card-title">Insira os Dados do Alunos</h5>
        <hr>
        <div class="col">
            <span><b>Ra:</b></span>
            <input class="input-group" id="ra" [(ngModel)]="selectedEstudante.ra" disabled>
            <br>
        </div>
        <div class="col">
            <label class="label" for="name"><b>Nome:</b></label>
            <input class="input-group" id="name" [(ngModel)]="selectedEstudante.name" placeholder="Digite o nome">
            <br>
        </div>
        <div class="col">
            <label class="label" for="telephone"><b>Telefone:</b></label>
            <input class="input-group" id="telephone" [(ngModel)]="selectedEstudante.telephone" placeholder="Insira o telefone">
            <br>
        </div>
        <div class="col">
            <label class="label" for="clas"><b>Turma/Classe:</b></label>
            <input class="input-group" id="class" [(ngModel)]="selectedEstudante.class" placeholder="Insira a classe e a turma">
            <br>
        </div>
        <div class="col">
            <label class="label" for="motherName"><b>Nome da mãe:</b></label>
            <input class="input-group" id="motherName" [(ngModel)]="selectedEstudante.motherName" placeholder="Insira o nome da mãe do aluno">
            <br>
        </div>
    </div>
</div>

<div class="card card-default">
    <div class="card-header">
        Dados do Aluno
    </div>
    <div class="card-body ">
        <h5 class="card-title">Alunos</h5>
        <hr>
        <ul class="estudantes">
            <li *ngFor="let estudante of estudantes" [class.selected]="estudante === selectedEstudante" (click)="onSelect(estudante)">
                <span class="label"><b>RA:</b> {{estudante.ra}} <b>NOME:</b> {{estudante.name}} <b>TELEFONE:</b> {{estudante.telephone}} <b>TURMA:</b> {{estudante.class}} <b>NOME DA MÃE:</b> {{estudante.motherName}}</span>
            </li>
        </ul>
    </div>
</div>