/* You can add global styles to this file, and also import other style files */

.card-default {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

*,
h2 {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    margin-left: 40px;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}


/* HeroesComponent's private CSS styles */

.estudantes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: max-content;
}

.estudantes li {
    width: 1300px;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em .3em;
    height: 1.6em;
    border-radius: 4px;
}

.estudantes li:hover {
    color: #119ce2;
    background-color: #e6e6e6;
    left: .1em;
}

.estudantes li.selected {
    background-color: rgb(0, 0, 0);
    color: white;
}

.estudantes li.selected:hover {
    background-color: #505050;
    color: white;
}

.estudantes li.selected:active {
    background-color: rgb(255, 247, 247);
    color: white;
}

input {
    padding: .5rem;
}

.btn-delete {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    font-size: larger;
    align-items: center;
}